<!-- Toolbar -->
<mat-toolbar color='primary'>
    <span class='paddingSpotifyIcon'>
      <img
        width="40"
        height="40"
        alt="Spotify Logo"
        src="assets/spotifywhitelogo.png"
      />
    </span>
      
    <span>
      <h2 class="mat-h2 accent-color-light"> Spotify Music Grabber </h2>
    </span>

    <span class='spacer'></span>



    <!-- <a class="paddingRight" mat-raised-button color='accent' href="http://www.google.com">
      Login with Spotify
    </a> -->

    <a class="paddingRight" mat-raised-button color='accent' href="http://localhost:3005/login">
      Login with Spotify
    </a>

    
</mat-toolbar>

<div class="content" role="main">
  <app-music-table></app-music-table>
</div>


