<!-- Toolbar -->
<mat-toolbar color='primary'>
    <span class='paddingSpotifyIcon'>
      <img
        width="40"
        height="40"
        alt="Spotify Logo"
        src="assets/spotifywhitelogo.png"
      />
    </span>
      
    <span>
      <h2 class="mat-h2 accent-color-light"> Spotify Music Grabber </h2>
    </span>

    <span class='spacer'></span>

    <button *ngIf="!loggedIn" 
      class="paddingRight" 
      mat-raised-button  color='accent' 
      (click)="onLoginClick()"
    >
      Login with Spotify
    </button>

    <button *ngIf="loggedIn"
      class="paddingRight"
      mat-raised-button color='accent'
      [matMenuTriggerFor]="playlists"
    >
      Playlist: {{ playlistName }}
    </button>

    <mat-menu #playlists="matMenu">
      <button *ngFor="let playList of playListNames"  
        mat-menu-item
        (click)="onPlayListChange($event)" 
        value={{playList}}
      >
        {{ playList }}
      </button>
      <!-- <button mat-menu-item >Fishes</button>
      <button mat-menu-item >Amphibians</button> -->
    </mat-menu>

    <button *ngIf="loggedIn" 
      class="paddingRight" 
      mat-raised-button  color='accent' 
      (click)="onLogoutClick()"
    >
      Logout
    </button>

    
</mat-toolbar>

<div class="content" role="main">
  <app-music-table 
    [dataSource]="dataSource"
  ></app-music-table>
</div>


