table {
    width: 100%;
    width: 100vw;
}

th.mat-sort-header-sorted {
    color: black;
}

.tr-body{
    background-color: var(--color-accent-light);
}

.tr-body:hover{
    background-color: var(--color-primary-light);
}

.tr-head{
    background-color: var(--color-primary-light);
}